# Created by https://www.gitignore.io/api/go,vagrant,visualstudiocode

### Go ###
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
vendor/

# app binary
gelert
gelert_runner

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

### Vagrant ###
*/.vagrant/

### VisualStudioCode ###
.vscode/

### Idea ###
.idea/
